@{
    ViewBag.Title = "Home Page";
}


<div class="container" ng-view>
    <!--Page Content-->
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOm6Fm_MvmYpnsBTEzxThDuayHi9bOwco"></script>