################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JourneyApplication/.vs/JourneyApplication/v15/Server/sqlite3
