################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JourneyApplication/.vs/JourneyApplication/v15/Server/sqlite3
JourneyApplication/.vs/JourneyApplication/v15/.suo
JourneyApplication/.vs/JourneyApplication/v15/sqlite3/storage.ide
